<div class="container">
    <h1 class="text-center">Flickr Search</h1>
    <div class="form-group">
        <input type="search" class="form-control" (keyup)="search($event)" placeholder="Search Photos">
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 p-3" *ngFor="let image of images">
            <div class="card">
                <a href="#" (click) = "show(image)">
                    <img src="{{image.url}}_m.jpg" alt="" title="{{image.title}}">
                </a>
            </div>
        </div>
    </div>

    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"></div>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{imageInfo.title}}</h4>
            </div>
            <div class="modal-body">
                <img src="{{imageInfo.url}}"
                    id="imagepreview" style="width: 425px; height: 425px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hide()">Close</button>
            </div>
        </div>
    </div>
</div>